# This gitignore is specific to files in this repository
# For the global gitignore file, see: 'modules/git/.config/git/ignore'

*.env
*.zcompdump
.stow-bogus-links

modules/karabiner/.config/karabiner/automatic_backups
modules/karabiner/.config/karabiner/karabiner.json
