# This gitignore is specific to files in this repository
# For the global gitignore file, see: 'modules/git/.config/git/ignore'

*.env
*.zcompdump
.stow-bogus-links

modules/karabiner/.config/karabiner/automatic_backups
modules/git/.config/git/config_work

modules/jj/.config/jj/conf.d/wealthsimple-pci.toml
