[user]
name = "Ryan Perry-Nguyen"
email = "ryanperrynguyen@gmail.com"

[ui]
default-command = "log"

# this is the same as EDITOR, but escaping the '+setlocal ...' wasn't working
# in this context
editor = ["nvr", "--remote-wait", '+setlocal bufhidden=wipe']
pager = "delta"
conflict-marker-style = "snapshot"
diff-formatter = ["difft", "--color=always", "$left", "$right"]

[revset-aliases]
'closest_bookmark(to)' = 'latest(heads(::to & bookmarks()), 1)'

[aliases]
tug = ["bookmark", "move", "--from", "closest_bookmark(@-)", "--to", "@"]

[templates]
# compact one-line style that only shows change IDs
# but shows commit ids for any conflicted changes
log = '''
  if(root,
    format_root_commit(self),
    label(
      if(current_working_copy, "working_copy"),
      concat(
        separate(" ",
          format_short_change_id_with_change_offset(self),
          commit_id.shortest(9),
          if(empty, label("empty", "(empty)")),
          if(description,
            description.first_line(),
            label(if(empty, "empty"), description_placeholder),
          ),
          bookmarks,
          tags,
          working_copies,
          if(conflict, label("conflict", "conflict")),
          if(config("ui.show-cryptographic-signatures").as_boolean(),
            format_short_cryptographic_signature(signature)),
        ) ++ "\n",
      ),
    )
  )
'''

# Show diff in the $EDITOR
draft_commit_description ='''
  concat(
    coalesce(description, default_commit_description, "\n"),
    surround(
      "\nJJ: This commit contains the following changes:\n", "",
      indent("JJ:     ", diff.stat(72)),
    ),
    "\nJJ: ignore-rest\n",
    diff.git(),
  )
'''

[[--scope]]
--when.repositories = ['~/code/wealthsimple']
[--scope.git]
sign-on-push = true
[--scope.signing]
backend = "ssh"
key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHXE9iQfOLWOygrFVTZdPZxmLSXwJ9SsukEo6y6K+y92"
backends.ssh.program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
